<div class="container">
  <h1>List of cocktails</h1>
  <br>
  <ul>
      <% @cocktails.each do |cocktail| %>
        <li><%= link_to "ðŸ¹", cocktail_path(cocktail) %> <%= cocktail.name %></li>
      <% end %>
    </ul>

    <p><%= link_to "ðŸ“ Add a new cocktail", new_cocktail_path, class:"btn btn-primary" %></p>
</div>
