<div class="container">
  <h1>List of cocktails</h1>
  <br>

  <% @cocktails.each do |cocktail| %>
    <div class="card-product">
      <img src="" />
      <div class="card-product-infos">
        <h2><%= link_to "ðŸ¹", cocktail_path(cocktail) %> <%= cocktail.name %></h2>
      </div>
    <% end %>
  </div>


  <p><%= link_to "ðŸ“ Add a new cocktail", new_cocktail_path, class:"btn btn-primary" %></p>
</div>
