<div class="container">
  <h1>Add a new cocktail</h1>
  <%= simple_form_for [@cocktail] do |f| %>
    <%= f.input :name %>
    <%= f.submit "Add a cocktail", class: "btn btn-primary" %>
  <% end %>
  <br>
  <p><%= link_to "↩️ Back to the list of cocktails", cocktails_path, class:"btn btn-secondary" %></p>
</div>
