<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/agazielly/image/upload/v1565967118/IMG_4538_hy7gum.jpg);">
  <div class="container">
    <h1>Enter in a world of cocktails...</h1>
    <%= link_to "Enter now", cocktails_path, class: "btn btn-ghost" %>
  </div>
</div>
